<div>
    <img
        [src]="product.imageUrl"
        [alt]="product.image"
        width="250"
        class="mt-0 mx-auto mb-5 block shadow-2"
        *ngIf="product.imageUrl"
    />
    <h4>{{ product.price | currency : "BRL" }}</h4>
    <p>{{ product.description }}</p>
</div>

<div
    class="p-fluid p-formgrid grid"
    style="
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        flex-wrap: nowrap;
        margin-top: 5px;
    "
>
    <div style="display: flex">
        <p-inputNumber
            id="minvalue"
            [(ngModel)]="inputValue"
            [showButtons]="true"
            buttonLayout="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
        ></p-inputNumber>
    </div>
    <div style="display: flex">
        <p-button
            type="button"
            label="Adicionar"
            icon="pi pi-shopping-cart"
            (click)="avanceDialog({ summary: 'next' })"
        ></p-button>
    </div>
</div>
