<div class="grid">
    <div class="col-12 md:col-4 fill-height">
        <p-panel header="" [toggleable]="false" class="panel" id="analise">
            <ng-template pTemplate="header" id="analise">
                <span class="font-semibold text-xl d-block w-100 p-100"
                    >Em Analise</span
                >
            </ng-template>
            <div class="panel-content">
                <div class="content">
                    <p>Nenhum pedido no momento.</p>
                    <p>Receba pedidos e visualize os que estão em produção.</p>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-4">
        <p-panel header="" [toggleable]="false" class="panel" id="producao">
            <ng-template pTemplate="header">
                <span class="font-semibold text-xl d-block w-100 p-100"
                    >Em Produção</span
                >
            </ng-template>
            <div class="panel-content">
                <div class="content">
                    <p>Nenhum pedido no momento.</p>
                    <p>Receba pedidos e visualize os que estão em produção.</p>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-4">
        <p-panel header="" [toggleable]="false" class="panel" id="pronto">
            <ng-template pTemplate="header">
                <span class="font-semibold text-xl d-block w-100"
                    >Pronto para entrega</span
                >&nbsp;<i class="pi pi-check-circle"></i>
            </ng-template>
            <div class="panel-content">
                <div class="content">
                    <p>Nenhum pedido no momento.</p>
                    <p>Receba pedidos e visualize os que estão em produção.</p>
                </div>
            </div>
        </p-panel>
    </div>
</div>
