<div class="layout-footer">
    <button class="p-link layout-topbar-button">
        <i class="pi pi-home"></i>
        <span>Inicio</span>
    </button>

    <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
        <i
            *ngIf="hasProduct"
            class="pi pi-cart-plus"
            pBadge
            style="font-size: 2rem"
            value="{{ totalItems }}"
        ></i>
        <i
            *ngIf="!hasProduct"
            class="pi pi-shopping-cart"
            style="font-size: 2rem"
        ></i>
        <span>Carrinho</span>
    </button>
</div>
