<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button
                        pButton
                        pRipple
                        label="New"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="openNew()"
                        style="margin-right: 15px"
                    ></button>
                </ng-template>
                <ng-template pTemplate="right"> </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="coupons"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['name', 'cod', 'value']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
                [(selection)]="selectedCoupon"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Gerenciar Categorias</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="name">
                            Nome <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="CouponType">
                            Tipo de Desconto
                            <p-sortIcon field="couponType"></p-sortIcon>
                        </th>
                        <th pSortableColumn="value">
                            Valor <p-sortIcon field="value"></p-sortIcon>
                        </th>

                        <th pSortableColumn="isActive">
                            Status
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th pSortableColumn="cod">
                            Codigo
                            <p-sortIcon field="cod"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="product"
                            ></p-tableCheckbox>
                        </td>

                        <td style="width: 17%; min-width: 23rem">
                            <span class="p-column-title">Nome</span>
                            {{ product.name }}
                        </td>
                        <td style="width: 17%; min-width: 15rem">
                            <span class="p-column-title">Tipo de Desconto</span>
                            &nbsp;&nbsp;&nbsp;
                            <i
                                class="pi pi-fw pi-money-bill mr-2 text-2xl"
                                *ngIf="product.couponType == 0"
                            ></i
                            >&nbsp;
                            <i
                                class="pi pi-fw pi-percentage mr-2"
                                *ngIf="product.couponType == 1"
                            ></i>
                        </td>
                        <td style="width: 17%; min-width: 15rem">
                            <span class="p-column-title">Valor</span>
                            {{
                                product.couponType == 0
                                    ? (product.value | currency)
                                    : product.value + "%"
                            }}
                        </td>

                        <td style="width: 17%; min-width: 12rem">
                            <span class="p-column-title">Status</span>
                            <span
                                [class]="
                                    'product-badge status-' +
                                    (product.isActive
                                        ? 'instock'
                                        : 'outofstock')
                                "
                                >{{
                                    product.isActive ? "Ativo" : "Desativado"
                                }}</span
                            >
                        </td>
                        <td style="width: 17%; min-width: 13rem">
                            <span class="p-column-title">Codigo</span>
                            {{ product.cod }}
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-help mr-2"
                                    (click)="editCoupon(product)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <form [formGroup]="couponForm" autocomplete="off">
            <p-dialog
                [(visible)]="couponDialog"
                [style]="{ width: '450px' }"
                header="Detalhes do Cupom"
                [modal]="true"
                class="p-fluid"
            >
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="name">Nome</label>
                        <input
                            type="text"
                            pInputText
                            id="name"
                            formControlName="name"
                            required
                            autofocus
                        />
                    </div>
                    <div class="field">
                        <label for="name">Codigo Promocional</label>
                        <input
                            type="text"
                            pInputText
                            id="cod"
                            formControlName="cod"
                            required
                        />
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="price">Tipo de Desconto</label>
                            <p-dropdown
                                appendTo="body"
                                id="couponType"
                                formControlName="couponType"
                                placeholder="Select"
                                [options]="statuses"
                            ></p-dropdown>
                        </div>
                        <div class="field col-3">
                            <label for="isActive">Status</label>
                            <div class="formgrid grid">
                                <div class="field col-1"></div>
                                <p-inputSwitch formControlName="isActive" />
                            </div>
                        </div>
                    </div>
                    <div
                        class="formgrid grid"
                        *ngIf="couponForm.value.couponType == 0"
                    >
                        <div class="field col">
                            <label for="value">Valor em Reais</label>
                            <p-inputNumber
                                id="value"
                                formControlName="value"
                                mode="currency"
                                currency="BRL"
                                locale="pt-pt"
                            ></p-inputNumber>
                        </div>
                    </div>
                    <div
                        class="formgrid grid"
                        *ngIf="couponForm.value.couponType == 1"
                    >
                        <div class="field col">
                            <label for="value">Valor em Porcentagem</label>
                            <p-inputNumber
                                id="value"
                                formControlName="value"
                                prefix="%"
                                inputId="percent"
                            ></p-inputNumber>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button
                        pButton
                        pRipple
                        label="Cancel"
                        icon="pi pi-times"
                        class="p-button-text"
                        (click)="hideDialog()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        [disabled]="!couponForm.valid"
                        label="Save"
                        icon="pi pi-check"
                        class="p-button-text"
                        (click)="saveProduct()"
                    ></button>
                </ng-template>
            </p-dialog>
        </form>
    </div>
</div>
