<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button
                        pButton
                        pRipple
                        label="New"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="openNew()"
                        style="margin-right: 15px"
                    ></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        [label]="'Delete'"
                        icon="pi pi-trash"
                        class="p-button-danger"
                        (click)="deleteSelectedProducts()"
                        [disabled]="
                            !selectedProducts || !selectedProducts.length
                        "
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="products"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} registros"
                [(selection)]="selectedProducts"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Gerenciar Produtos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="name">
                            Nome <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th>Imagem</th>
                        <th pSortableColumn="price">
                            Preço <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category.name">
                            Categoria
                            <p-sortIcon field="category.name"></p-sortIcon>
                        </th>

                        <th pSortableColumn="isActive">
                            Status
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="product"
                            ></p-tableCheckbox>
                        </td>

                        <td style="width: 17%; min-width: 12rem">
                            <span class="p-column-title">Nome</span>
                            {{ product.name }}
                        </td>
                        <td style="width: 17%; min-width: 12rem">
                            <span class="p-column-title">Imagem</span>
                            <img
                                [src]="product.imageBase64"
                                [alt]="product.name"
                                width="100"
                                class="shadow-4"
                            />
                        </td>
                        <td style="width: 17%; min-width: 10rem">
                            <span class="p-column-title">Price</span>
                            {{ product.price | currency : "BRL" }}
                        </td>
                        <td style="width: 17%; min-width: 12rem">
                            <span class="p-column-title">Categoria</span>
                            {{ product.category.name }}
                        </td>

                        <td style="width: 17%; min-width: 12rem">
                            <span class="p-column-title">Status</span>
                            <span
                                [class]="
                                    'product-badge status-' +
                                    (product.isActive
                                        ? 'instock'
                                        : 'outofstock')
                                "
                                >{{
                                    product.isActive ? "Ativo" : "Desativado"
                                }}</span
                            >
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-help mr-2"
                                    (click)="editProduct(product)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="deleteProduct(product)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <form [formGroup]="productForm" autocomplete="off">
            <p-dialog
                [(visible)]="productDialog"
                [style]="{ width: '450px' }"
                header="Product Details"
                [modal]="true"
                class="p-fluid"
            >
                <ng-template pTemplate="content">
                    <img
                        [src]="product.imageBase64"
                        [alt]="product.image"
                        width="150"
                        class="mt-0 mx-auto mb-5 block shadow-2"
                        *ngIf="product.image"
                    />
                    <div class="field">
                        <label for="name">Nome</label>
                        <input
                            type="text"
                            pInputText
                            id="name"
                            formControlName="name"
                            required
                            autofocus
                        />
                    </div>
                    <div class="field">
                        <label for="description">Descrição</label>
                        <textarea
                            id="description"
                            pInputTextarea
                            formControlName="description"
                            required
                            rows="3"
                            cols="20"
                        ></textarea>
                    </div>
                    <div class="field">
                        <label for="status">Categoria</label>
                        <p-dropdown
                            formControlName="categoryId"
                            optionValue="id"
                            optionLabel="name"
                            [options]="categories"
                            placeholder="Select"
                        >
                        </p-dropdown>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="price">Preço</label>
                            <p-inputNumber
                                id="price"
                                formControlName="price"
                                mode="currency"
                                currency="BRL"
                                locale="pt-pt"
                            ></p-inputNumber>
                        </div>
                        <div class="field col-3">
                            <label for="isActive">Status</label>
                            <div class="formgrid grid">
                                <div class="field col-1"></div>
                                <p-inputSwitch formControlName="isActive" />
                            </div>
                        </div>
                    </div>

                    <p-fileUpload
                        name="image[]"
                        url="./upload.php"
                        (onSelect)="onUpload($event)"
                        [multiple]="false"
                        accept="image/*"
                        [maxFileSize]="1000000"
                    >
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">
                                    {{ file.name }} - {{ file.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button
                        pButton
                        pRipple
                        label="Cancel"
                        icon="pi pi-times"
                        class="p-button-text"
                        (click)="hideDialog()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        [disabled]="!productForm.valid"
                        label="Save"
                        icon="pi pi-check"
                        class="p-button-text"
                        (click)="saveProduct()"
                    ></button>
                </ng-template>
            </p-dialog>

            <p-dialog
                [(visible)]="deleteProductDialog"
                header="Confirm"
                [modal]="true"
                [style]="{ width: '450px' }"
            >
                <div class="flex align-items-center justify-content-center">
                    <i
                        class="pi pi-exclamation-triangle mr-3"
                        style="font-size: 2rem"
                    ></i>
                    <span *ngIf="product"
                        >Tem certeza que deseja apagar <b>{{ product.name }}</b
                        >?</span
                    >
                </div>
                <ng-template pTemplate="footer">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-times"
                        class="p-button-text"
                        label="No"
                        (click)="deleteProductDialog = false"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-check"
                        class="p-button-text"
                        label="Yes"
                        [attr.id]="product.id"
                        (click)="confirmDelete(product)"
                    ></button>
                </ng-template>
            </p-dialog>

            <p-dialog
                [(visible)]="deleteProductsDialog"
                header="Confirm"
                [modal]="true"
                [style]="{ width: '450px' }"
            >
                <div class="flex align-items-center justify-content-center">
                    <i
                        class="pi pi-exclamation-triangle mr-3"
                        style="font-size: 2rem"
                    ></i>
                    <span
                        >Tem certeza que quer apagar os itens
                        selecionados??</span
                    >
                </div>
                <ng-template pTemplate="footer">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-times"
                        class="p-button-text"
                        label="No"
                        (click)="deleteProductsDialog = false"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-check"
                        class="p-button-text"
                        label="Yes"
                        (click)="confirmDeleteSelected()"
                    ></button>
                </ng-template>
            </p-dialog>
        </form>
    </div>
</div>
